*{
    margin:0;
    padding:0;
    --main-color: #4ade80;
    --header-color: white;
    --body-color: #f7fee7;
    font-family: "Nanum";
}

@font-face {
    font-family: "Nanum";
    src: url("Nanum_Gothic/NanumGothic-Regular.ttf");
}

body{
    height: 100vh;
}

.container{
    display:grid;
    grid-template-columns: 230px 3.5fr;
    grid-template-rows: 150px 4fr;
    height: 100vh;
}

.sidebar{
    background-color: var(--main-color);
    grid-row: 1 / 3;    
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 40px;
}

.logo{
    margin-top: 10px;
}

.logo img{
    height: 50px;
    width: 50px;
    margin-bottom: -18px;
    margin-right: 5px;
}

.sidebar ul{
    list-style: none;
    margin-left: 11px;
}

ul img{
    width: 25px;
    height: 25px;
    margin-bottom: -7px;
    margin-right: 20px;
}

.top{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bott{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header{
    background-color: var(--header-color);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: end;
    justify-items: end;
}

.icons img{
    height: 30px;
    width: 30px;
}

.search{
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    gap: 5px;
    justify-self: start;
    align-self: start;
}

.searchIcon {
    height: 25px;
    width: 25px;
}

.search input{
    border-radius: 20px;
    border: none;
    background-color: blue;
    width: 400px;
    height: 25px;
}

.account{
    display: flex;
    align-items: end;
    margin-bottom: 10px;
    margin-left: 10px;
    gap: 10px;
    justify-self: start;
}

.account img{
    height: 50px;
    width: 50px;
}

.greeting{
    font-weight: 500;
}

.user{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

.header button{
    border: none;
    background-color: var(--main-color);
    height: 30px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
    
}

.icons{
    display: flex;
    align-items: center;
    align-self: start;
    gap: 5px;
    margin-right: 10px;
    margin-top: 5px;
}

.projects{
    background-color: blue;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.projectCont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    background-color: var(--header-color);
    margin: 10px 0 10px 10px;
    gap: 10px;
}

.projectCont > div{
    border-radius: 100px;
    padding: 10px;
}

.announcements{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    background-color: var(--header-color);
    margin: 10px 10px 10px 0;
}

.title{
    font-weight: 600;
    font-size: 13px;
}

div div p{
    font-size: 12px;
}